$navbar-color: #B71C1C;
$navbar-pills-color: #EF9A9A;
$navbar-pills-hover-color: #D32F2F;
.nav {
	background: $navbar-color;
	padding: 30px 50px 28px;
}

.nav > ul > li > a {
	color: white;
	text-decoration: none;
	display: block;
}

.navbar-pills > ul > li.active > a {
	background: $navbar-pills-color;
	color: white;
	border-radius: 50px;
}

.navbar-pills > ul > li:hover > a {
	background: $navbar-pills-hover-color;
	color: white;
}