.demo-navbar-fixed {
	background: #f2f2f2;
	padding: 10px;
}

.demo > pre, .accordion-panel > pre {
	margin-top: 0 !important;
	white-space: normal !important;
}

.mainSection {
 	padding-top: 100px;
  margin-top: -100px;
}

#side-nav > .navigation-toggle {
	margin: 0 20px;
}

#side-nav > nav > ul > li {
	float: none;
	list-style-type: none;
	padding: 0 20px;
}

#side-nav > nav > ul{
	margin-left: 0;
}

#side {
	padding-top: .8em;
}

#tab1 > .units-row > .unit-80 > fieldset > .units-row > h3,
#tab2 > .units-row > .unit-80 > fieldset > .units-row > h3,
#tab3 > .units-row > .unit-80 > fieldset > .units-row > h3 {
	text-decoration: underline;
}

#tab2 > .units-row > #side > span,
#tab3 > .units-row > #side > span {
	width: 100%;
}

#infiniteScrollBox > .blocks-1,
#buttonBox > .units-row > .unit-30,
#labelBox > .units-row > .unit-30,
#checkAllBox > .units-row > form > .unit-30,
#iconBox > .units-row > .unit-50 {
	margin-left: 0;
}

#iconBox > .units-row > .unit-50 {
	padding: 15px;
}

